<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite"  thread-count="2" parallel="instances">
	<test name="ARAMETERANNOTATION">

		<parameter name="browser" value="firefox"/>

		<classes>
			<class name="seleniumPreparation.PARAMETERANNOTATION" />
		</classes>
	</test>

	<test name="PARA2">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="seleniumPreparation.PARAMETERANNOTATION" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
